@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,300;0,400;0,500;0,600;1,400&family=Nunito:ital,wght@0,300;0,400;0,700;1,200;1,300;1,600&family=Roboto:ital,wght@0,400;0,500;1,100;1,300&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
:root {
  --font-primary: "Roboto", serif;
  --font-secundary: "Nunito", serif;
  --font-action: "Josefin Slab", serif;
}
html {
  scroll-behavior: smooth;
}
.hamburguer {
  width: 2rem;
  height: 2rem;
  position: fixed;
  z-index: 100;
  right: 2rem;
  top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
}
.line {
  width: 100%;
  height: 0.1rem;
  background-color: #fff;
  box-shadow: 0.1rem 0.1rem 1px rgb(0, 0, 0);
  transition: transform 1s;
}
.show-menu #line1 {
  transform: rotate(45deg) translate(0.1rem, 0.5rem);
}
.show-menu #line2 {
  opacity: 0;
  visibility: hidden;
}
.show-menu #line3 {
  transform: rotate(-45deg) translate(0.2rem, -0.6rem);
}
.show-menu .line {
  background-color: black;
  box-shadow: none;
  transition: all 2s;
}
.hamburguer span {
  position: absolute;
  left: 3rem;
  height: 2rem;
  width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9d50bb;
  color: #fff;
  font-family: var(--font-action);
  opacity: 0;
}
.hamburguer span::before {
  content: "";
  position: absolute;
  border-right: 0.5rem solid #9d50bb;
  border-top: 0.5rem solid transparent;
  border-left: 0.5rem solid transparent;
  border-bottom: 0.5rem solid transparent;
  left: -1rem;
}
.show-menu .hamburguer:hover span {
  opacity: 1;
}
.show-menu .hamburguer {
  right: 17rem;
}

header {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  transition: all 0.1s;
}

.img-wrapper {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  animation: zoom 25s;
}
@keyframes zoom {
  0% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.banner {
  position: absolute;
  top: 30%;
  left: 15%;
}

.banner h1 {
  color: #fff;
  font-size: 3.5rem;
  font-family: var(--font-primary);
  font-weight: 200;
  line-height: 3.5rem;
  text-shadow: 0.3rem 0.3rem 2px rgba(0, 0, 0, 0.4);
  margin-bottom: 2rem;
  opacity: 0;
  animation: moveBanner 1s 0.5s forwards;
}
.banner p {
  font-family: var(--font-secundary);
  color: #fff;
  font-size: 2rem;
  text-shadow: 0.2rem 0.2rem rgba(0, 0, 0, 0.4);
  margin-bottom: 2rem;
  opacity: 0;
  animation: moveBanner 1s 0.7s forwards;
}
.banner button {
  font-family: var(--font-secundary);
  color: #fff;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1;
  background: #9d50bb;
  background: -webkit-linear-gradient(to right, #6e48aa, #9d50bb);
  background: linear-gradient(to right, #6e48aa, #9d50bb);
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0;
  animation: moveBanner 1s 0.9s forwards;
}
.banner button:hover {
  color: black;
}
@keyframes moveBanner {
  0% {
    transform: translateY(10rem) rotateY(-30deg);
    opacity: 0;
  }
  100% {
    transform: translateY(0) rotatey(0);
    opacity: 1;
  }
}

.sidebar {
  width: 20rem;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: -20rem;
  transition: all 1s;
  z-index: 100;
}
.show-menu .sidebar {
  right: 0;
}
.hamburguer {
  z-index: 101;
}
.menu {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menu-item {
  text-align: center;
  margin-bottom: 0.5rem;
}
.menu-link {
  font-family: var(--font-action);
  font-size: 2rem;
  color: #555;
  transition: color 1s;
}
.menu-link:hover {
  color: #9d50bb;
}
.social-media {
  position: absolute;
  bottom: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.social-media i {
  background-color: #9d50bb;
  color: #fff;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 0.5s;
}
.social-media i:hover {
  background-color: #6e48aa;
}
.conhecimentos {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(6, 6rem);
  row-gap: 1rem;
}
.conhecimento:nth-child(1) {
  grid-column: 4 / 7;
  grid-row: 1 / 2;
}
.conhecimento:nth-child(2) {
  grid-column: 3 / 6;
  grid-row: 3 / 5;
}
.conhecimento:nth-child(3) {
  grid-column: 4 / 7;
  grid-row: 5 / -1;
}
.conhecimento:nth-child(4) {
  grid-column: 12 / 15;
  grid-row: 1 / 2;
}
.conhecimento:nth-child(5) {
  grid-column: 13 / 16;
  grid-row: 3 / 6;
}
.conhecimento:nth-child(6) {
  grid-column: 12 / 15;
  grid-row: 5 / -1;
}
.sessao-conhecimento {
  background-color: #e4e2e2;
  height: 100vh;
  width: 100%;
}
.sessao-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sessao-header h1 {
  font-family: var(--font-primary);
  font-size: 3rem;
  color: #4b4b4b;
  border-bottom: solid 3px #9d50bb;
  margin-bottom: 1.5rem;
}
.conhecimento-header {
  display: flex;
  align-items: center;
}
.conhecimento-header i {
  font-size: 2.5rem;
  color: #4b4b4b;
}
.conhecimento-header h3 {
  font-family: var(--font-primary);
  font-size: 2rem;
  padding-left: 1rem;
}
.conhecimento-text {
  font-family: var(--font-secundary);
  margin-top: 1rem;
}
.conhecimentos-img {
  grid-column: 7 / 11;
  grid-row: 3 / 6;
  width: 80%;
  height: 80%;
}
.conhecimentos-img img {
  object-fit: cover;
  width: 100%;
}
.projetos {
  display: flex;
  justify-content: space-evenly;
}
.card {
  width: 18rem;
  height: 25rem;
  position: relative;
}
.card-img-wrapper {
  width: 100%;
  height: 100%;
  background-color: #262626;
  border-radius: 0.5rem;
}
.card-img-wrapper img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  border-radius: 0.5rem;
  transition: opacity 0.3s;
}
.card:hover .card-img-wrapper img {
  opacity: 0.2;
}
.card-info {
  position: absolute;
  bottom: 0;
  padding: 1rem;
  text-shadow: 0.3rem 0.2rem 0.3rem rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  left: 1rem;
  top: 1rem;
}
.card-info h2 {
  font-family: var(--font-primary);
  font-size: 2rem;
  font-weight: 500;
  color: #e4e2e2;
}
.card-info h3 {
  font-family: var(--font-secundary);
  font-weight: 500;
  color: #ff4081;
  margin-bottom: 1.5rem;
}
.card-info p {
  font-family: var(--font-secundary);
  color: #e4e2e2;
  font-weight: 400;
  width: 80%;
  margin-bottom: 2rem;
  font-size: 0.9rem;
}
.btn {
  background: #9d50bb;
  background: -webkit-linear-gradient(to right, #6e48aa, #9d50bb);
  background: linear-gradient(to right, #6e48aa, #9d50bb);
  font-family: var(--font-action);
  font-size: 1rem;
  color: #e4e2e2;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 00.1rem 0.3rem rgba(0, 0, 0, 0.2);
}
.card-info button {
  width: 8rem;
  height: 2.5rem;
}
.card:hover .card-info {
  bottom: 2rem;
  opacity: 1;
  visibility: visible;
}
.sessao-contato {
  width: 100%;
  height: 100vh;
  background-color: #464646;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contato-wrapper {
  width: 80%;
  height: 30rem;
  display: flex;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.5);
}
.contato-left {
  width: 40%;
  background-size: cover;
}
.contato-left img {
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
.contato-right {
  width: 60%;
  background-color: #eee;
  padding: 2rem 1rem 1rem 2rem;
}
.sessao-contato h1 {
  font-family: var(--font-primary);
  text-align: center;
  color: #464646;
  font-size: 3rem;
  font-weight: lighter;
}
.sessao-contato form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-group {
  position: relative;
}
.field {
  background: transparent;
  border: none;
  width: 20rem;
  font-size: 1.5rem;
  font-family: var(--font-secundary);
  border-bottom: 1px dashed #464646;
  height: 3rem;
  outline: none;
  margin: 2rem 0;
}
.input-group textarea {
  padding-top: 0.5rem;
  max-width: 30rem;
  max-height: 3rem;
}
.field-label {
  position: absolute;
  top: 3rem;
  bottom: 0;
  left: 0;
  font-family: var(--font-secundary);
  text-transform: uppercase;
  font-size: 1.2rem;
  transition: all 0.3s;
}
.field:focus ~ label {
  top: 0;
  font-size: 1rem;
}
.field:focus {
  border-bottom: 1px solid;
}
.btn-submit {
  text-transform: uppercase;
  width: 30%;
  height: 2rem;
  font-size: 1.2rem;
}
footer {
  width: 100%;
  height: 5rem;
  background-color: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-content {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.footer-content p {
  font-family: var(--font-secundary);
  color: #555;
  font-size: 1.2rem;
}
.social-list a {
  margin: 0.5rem;
  color: #555;
  font-size: 1.3rem;
}
.social-list ul {
  display: flex;
}
#link-top {
  position: fixed;
  right: 1rem;
  bottom: 2rem;
  width: 3rem;
  height: 3rem;
  background: #9d50bb;
  background: -webkit-linear-gradient(to right, #6e48aa, #9d50bb);
  background: linear-gradient(to right, #6e48aa, #9d50bb);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 2rem;
  box-shadow: 0 0 0.3rem 0.2rem rgba(0, 0, 0, 0.2);
}
